@model List<MovieDatabase.Models.ViewModels.Movie.MovieAllViewModel>

@{
    ViewData["Title"] = "All Movies";
}

@foreach (var movie in Model)
{
    <article class="text-justify text-warning col-4">
        <a class="text-warning" href="/Movies/Details/@movie.Id"><h2>@movie.Name</h2></a>
        <a href="/Movies/Details/@movie.Id"><img class="img-thumbnail" src="@movie.CoverImageLink" height="350" width="175"></a>
        <font size="6"><span class="align-top">Rating @movie.Rating/10</span></font><br />
        <font size="6"><span class="align-top">@movie.Description</span></font>
    </article>
    <br />
}