@model List<MovieDatabase.Web.ViewModels.TVShow.TVShowAllViewModel>

@{
    ViewData["Title"] = "All TV Shows";
}

@foreach (var tvShow in Model)
{
    <article class="text-justify text-warning">
        <h2>@tvShow.Name</h2>
        <img class="img-thumbnail" src="@tvShow.CoverImageLink" height="350" width="175">
        <font size="6"><span class="align-top">Rating @tvShow.Rating/10</span></font><br />
        <font size="6"><span class="align-top">@tvShow.Description</span></font>
    </article>
    <br/>
}