@using Microsoft.AspNetCore.Identity
@using MovieDatabase.Domain
@model List<MovieDatabase.Web.ViewModels.Announcement.AnnouncementViewModel>

@inject SignInManager<MovieDatabaseUser> SignInManager
@inject UserManager<MovieDatabaseUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-warning">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <p>Find Movies, TV Shows, Celebrities and more...</p>
</div>