@model List<MovieDatabase.Models.ViewModels.Announcement.AnnouncementViewModel>

@inject SignInManager<MovieDatabaseUser> SignInManager
@inject UserManager<MovieDatabaseUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-5 text-center bg-dark border border-warning" >
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-3" style="color:orangered">Welcome @User.Identity.Name</h1>
    }
    else
    {
        <h1 class="display-3" style="color:orangered">Welcome Guest</h1>
    }

    <hr class="my-4 bg-warning">

    <p class="text-warning" style="font-size:xx-large;">
        Here you can find: Movies, TV Shows, Celebrities and more...
    </p>
</div>