@using Microsoft.AspNetCore.Identity
@using MovieDatabase.Domain
@model List<MovieDatabase.Models.ViewModels.Announcement.AnnouncementViewModel>

@inject SignInManager<MovieDatabaseUser> SignInManager
@inject UserManager<MovieDatabaseUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
    
<div class="jumbotron bg-dark text-center text-warning border border-warning">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-3">Welcome @User.Identity.Name</h1>
    }
    else
    {
        <h1 class="display-4 mt-5">Welcome Guest</h1>
    }
    <hr class="my-4 bg-warning">
    <p>Find Movies, TV Shows, Celebrities and more...</p>
</div>