@using Microsoft.AspNetCore.Identity
@using MovieDatabase.Domain
@model List<MovieDatabase.Models.ViewModels.Announcement.AnnouncementViewModel>

@inject SignInManager<MovieDatabaseUser> SignInManager
@inject UserManager<MovieDatabaseUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-warning">

    <div class="row d-flex justify-content-center">
        <h1 class="display-4 mt-5">Welcome @User.Identity.Name</h1>
    </div>  
    
    <p>Find Movies, TV Shows, Celebrities and more...</p>

</div>