@model MovieDatabase.Models.InputModels.Review.CreateReviewInputModel

@{
    ViewData["Title"] = "Create Review";
}

<link rel="stylesheet" type="text/css" href="~/css/style.css">

<h2 class="text-warning mb-4">Post Review</h2>

<form asp-controller="Reviews" asp-action="Create" method="post" class="text-warning">

    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    <label asp-for="Rating"></label>
    <br />
    <div class="rate">
        <input type="radio" id="star10" asp-for="Rating" value="10" />
        <label for="star10" title="10 stars">10 stars</label>
        <input type="radio" id="star9" asp-for="Rating" value="9" />
        <label for="star9" title="9 stars">9 stars</label>
        <input type="radio" id="star8" asp-for="Rating" value="8" />
        <label for="star8" title="8 stars">8 stars</label>
        <input type="radio" id="star7" asp-for="Rating" value="7" />
        <label for="star7" title="7 stars">7 stars</label>
        <input type="radio" id="star6" asp-for="Rating" value="6" />
        <label for="star6" title="6 stars">6 stars</label>
        <input type="radio" id="star5" asp-for="Rating" value="5" />
        <label for="star5" title="5 stars">5 stars</label>
        <input type="radio" id="star4" asp-for="Rating" value="4" />
        <label for="star4" title="4 stars">4 stars</label>
        <input type="radio" id="star3" asp-for="Rating" value="3" />
        <label for="star3" title="3 stars">3 stars</label>
        <input type="radio" id="star2" asp-for="Rating" value="2" />
        <label for="star2" title="2 stars">2 stars</label>
        <input type="radio" id="star1" asp-for="Rating" value="1" />
        <label for="star1" title="1 star">1 star</label>
    </div>

    <br />
    <br />

    <span asp-validation-for="Rating" class="text-danger"></span>
    @*<div class="mb-3">
        <label asp-for="Rating"></label>
        <input type="number" asp-for="Rating" class="form-control col-2 mb-1" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>*@

    <div class="mt-3 mb-3">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control col-8 mb-2" rows="20" placeholder="Enter your review here"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <hr class="col-8 mt-4" style="height:3px;border:none;background-color:goldenrod; width:710px;" />

    <input type="submit" class="btn btn-dark btn-outline-warning mt-3 col-8" value="Post Review" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}