@model List<MovieDatabase.Models.ViewModels.Artist.ArtistAllViewModel>

@{
    ViewData["Title"] = "All Artists";
}

@foreach (var artist in Model)
{
    <article class="text-justify text-warning">
        <h2>@artist.FullName</h2>
        <img class="img-thumbnail" src="@artist.PhotoLink" height="300" width="150">
        <font size="6"><span class="align-top">@artist.Biography</span></font>
    </article>
    <br />
}