@model List<MovieDatabase.Models.ViewModels.Artist.ArtistAllViewModel>

@{
    ViewData["Title"] = "All Artists";
}

@foreach (var artist in Model)
{
    <div class="row">
        <div class="col-3">
            <img class="rounded" src="@artist.PhotoLink" height="310" width="240">
        </div>
        <div class="col-9 text-warning">
            <h1>@artist.FullName</h1>
            <font class="font-weight-light" size="6">@artist.Biography</font>
        </div>        
    </div>
    <br />
}