@model MovieDatabase.Models.ViewModels.Artist.ArtistDetailsViewModel

@{
    ViewData["Title"] = "Artist Details";
}

<h2 class="text-warning font-weight-normal">@Model.FullName</h2>

<div class="row text-warning">
    <div class="col-3">
        <img src="@Model.PhotoLink" class="rounded" alt="Portrait" width="295" height="390" />
    </div>
    <partial name="_MiniBioPartial" model="Model"/>
</div>

<hr style="height:3px;border:none;background-color:orangered;" />

<partial name="_ArtistCreditsPartial" model="Model"/>

<hr style="height:3px;border:none;background-color:orangered;" />

@if (User.IsInRole(GlobalConstants.adminRoleName))
{
    <div class="text-center">
        <a class="text-info text-center" style="font-size:x-large" href="/Administration/Artists/Update/@Model.Id">[UPDATE ENTRY]</a>
    </div>
}