@using Microsoft.AspNetCore.Identity
@using MovieDatabase.Domain
@using System.Web

@inject SignInManager<MovieDatabaseUser> SignInManager
@inject UserManager<MovieDatabaseUser> UserManager

@{
    var currentQuery = HttpUtility.UrlEncode(@Context.Request.QueryString.ToString());
}

@if (Model.Watchlisted && SignInManager.IsSignedIn(User))
{
    <a href="/Watchlist/AddRemove/?id=@Model.Id&returnQuery=@currentQuery" class="text-warning"><img src="~/icons/bookmark_true.svg" height="50" /><br /></a>
}
else if (SignInManager.IsSignedIn(User))
{
    <a href="/Watchlist/AddRemove/?id=@Model.Id&returnQuery=@currentQuery" class="text-warning"><img src="~/icons/bookmark_false.svg" height="50" /><br /></a>
}
else
{
    <img src="~/icons/bookmark_false.svg" height="50" /><br />
}