<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieDatabase</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery.datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/rating.css">
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/jquery.datetimepicker.full.min.js"></script>

</head>
<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom border-warning box-shadow mb-3">
            <div class="container">
                <a href="/Home/Index" class="btn btn-warning btn-lg mx-1" role="button" aria-pressed="false">Movie Db</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="btn-group mx-1">
                                <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Movies
                                </button>
                                <div class="dropdown-menu bg-dark">
                                    <a class="nav-link text-warning" href="/Movies/All?orderBy=release">Most Recent</a>
                                    <a class="nav-link text-warning" href="/Movies/All?orderBy=popularity">Most Popular</a>
                                    <a class="nav-link text-warning" href="/Movies/All?orderBy=rating">Highest Rated</a>
                                    <a class="nav-link text-warning" href="/Movies/All?orderBy=soon">Coming Soon</a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="dropdown-divider border-warning"></div>
                                        <a class="nav-link text-warning" href="/Administration/Movies/Create">Add Movie entry</a>
                                        <a class="nav-link text-warning" href="/Administration/Movies/AddRole">Add Role to Movie</a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group mx-1">
                                <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    TV Shows
                                </button>
                                <div class="dropdown-menu bg-dark">
                                    <a class="nav-link text-warning" href="/TVShows/All?orderBy=release">Most Recent</a>
                                    <a class="nav-link text-warning" href="/TVShows/All?orderBy=popularity">Most Popular</a>
                                    <a class="nav-link text-warning" href="/TVShows/All?orderBy=rating">Highest Rated</a>
                                    <a class="nav-link text-warning" href="/TVShows/All?orderBy=soon">Coming Soon</a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="dropdown-divider border-warning"></div>
                                        <a class="nav-link text-warning" href="/Administration/TVShows/Create">Add TV Show Entry</a>
                                        <a class="nav-link text-warning" href="/Administration/TVShows/AddSeason">Add Season to TV Show</a>
                                        <a class="nav-link text-warning" href="/Administration/TVShows/AddRole">Add Role to Season</a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group mx-1">
                                <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Artists
                                </button>
                                <div class="dropdown-menu bg-dark">
                                    <a class="nav-link text-warning" href="/Artists/All?orderBy=youngest">Youngest</a>
                                    <a class="nav-link text-warning" href="/Artists/All?orderBy=oldest">Oldest</a>
                                    <a class="nav-link text-warning" href="/Artists/All?orderBy=popularity">Most Popular</a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="dropdown-divider border-warning"></div>
                                        <a class="nav-link text-warning" href="/Administration/Artists/Create">Create Entry</a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group mx-1">
                                <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    News
                                </button>
                                <div class="dropdown-menu bg-dark">
                                    <a class="nav-link text-warning" href="/Announcements/All?orderBy=latest">Latest</a>
                                    <a class="nav-link text-warning" href="/Announcements/All?orderBy=oldest">Oldest</a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="dropdown-divider border-warning"></div>
                                        <a class="nav-link text-warning" href="/Administration/Announcements/Create">Create Entry</a>
                                    }
                                </div>
                            </div>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a href="/Administration/Genres/Create" class="btn btn-outline-warning mx-1" role="button" aria-pressed="true">Add new genre</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top border-warning footer text-muted">
        <div class="container text-warning">
            &copy; 2019 - Movie Database
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
