@model MovieDatabase.Models.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center my-5 display-4">Error</h1>
<h1 class="text-danger">An error occurred while processing your request.</h1>

@if (Model.ShowRequestId)
{
    <h2 class="text-warning mb-5">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </h2>
}

<center>
    <a href="/Home/Index" class="btn btn-lg btn-warning mt-5">Return to Home page</a>
</center>