@using Microsoft.AspNetCore.Identity
@using MovieDatabase.Domain

@inject SignInManager<MovieDatabaseUser> SignInManager
@inject UserManager<MovieDatabaseUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}


@if (!SignInManager.IsSignedIn(User))
{
    <span>Hello.</span>
}
else
{
    <span>Hello @User.Identity.Name.</span>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
