@model MovieDatabase.Models.InputModels.TVShow.CreateTVShowInputModel

@{
    ViewData["Title"] = "Create TV Show";
}

<h2 class="text-warning mb-4 mt-4 ml-3">Create TV Show</h2>
<hr class="col-7 ml-3 text-left" style="height:3px;border:none;background-color:goldenrod;" />

<form asp-area="Administration" asp-controller="TVShows" asp-action="Create" method="post" class="text-warning">

    <div asp-validation-summary="All" class="text-danger ml-5"></div>

    <div class="row col-8 d-flex justify-content-between">
        <div class="mt-1 mb-3 col-8">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control mb-2" placeholder="TV Show name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mt-1 mb-3 col-4">
            <label asp-for="Genre"></label>
            <select asp-for="Genre" class="form-control mb-2" placeholder="Genre Name">
                <option selected disabled>Genre Name</option>
                <vc:all-genre-names></vc:all-genre-names>
            </select>
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
    </div>

    <div class="row col-8 d-flex justify-content-between">
        <div class="mt-3 mb-3 col-4">
            <label asp-for="Creator"></label>
            <select asp-for="Creator" class="form-control mb-2" placeholder="Creator Name">
                <option selected disabled>Creator Name</option>
                <vc:all-artist-names></vc:all-artist-names>
            </select>
            <span asp-validation-for="Creator" class="text-danger"></span>
        </div>

        <div class="mt-3 mb-3 col-8">
            <label asp-for="CoverImageLink"></label>
            <input asp-for="CoverImageLink" class="form-control mb-2" placeholder="Cover image">
            <span asp-validation-for="CoverImageLink" class="text-danger"></span>
        </div>
    </div>

    <div class="row col-8 d-flex justify-content-between">
        <div class="mt-3 mb-3 col-12">
            <label asp-for="TrailerLink"></label>
            <input asp-for="TrailerLink" class="form-control mb-2" placeholder="https://www.youtube.com/embed/VIDEO_ID">
            <span asp-validation-for="TrailerLink" class="text-danger"></span>
        </div>
    </div>

    <div class="row col-8 d-flex justify-content-between">
        <div class="mt-3 mb-1 col-12">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control mb-2" rows="10" placeholder="Short summary"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <hr class="col-7 ml-3 text-left" style="height:3px;border:none;background-color:goldenrod;" />

    <div class="row col-8 d-flex justify-content-between">
        <div class=" mb-3 col-12">
            <input type="submit" class="btn btn-dark btn-outline-warning mt-3 col-12" value="Create" />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}