@model List<MovieDatabase.Models.ViewModels.Announcement.AnnouncementViewModel>

@{
    ViewData["Title"] = "All Announcements";
}

@foreach (var announcement in Model)
{
    <h1 class="text-warning text-justify">@announcement.Title @announcement.Date</h1>
    <div class="row">
        <div class="col-3">
            <img class="rounded" src="@announcement.ImageLink" height="310" width="240">
        </div>
        <div class="col-9 text-warning">
            <font class="font-weight-light" size="6">@announcement.Content</font>
        </div>
    </div>
    <br />
}